.about{
    margin-top: 5rem;
}

/* BAKERS SECTION */

.bakers h4 {
    font-size: 2.5rem;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    margin-bottom: 3rem;
}

.bakers__container img {
    width: 26.5rem;
    height: 36.5rem;
}

.baker {
    text-align: center;
    margin-bottom: 7rem;
}

.baker:last-child {
    margin-bottom: 0;
}

.baker h5 {
    font-size: 1.7rem;
    text-transform: uppercase;
    margin-top: 2rem;
    letter-spacing: .3rem;
}

.baker .social-icons {
    margin: 1rem 0 0em;
    display: flex;
    justify-content: center;
}

.baker .social-icons i {
    font-size: 2rem;
    color: var(--secondary-font-color);
    padding: .8rem;
}

.baker .social-icons i:hover,
.baker .social-icons i:focus {
    color: #241f17;
}


/*-----------------MEDIA QUERIES----------------- */

@media screen and (min-width: 900px) {
    .bakers__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 2rem;
    }

    .bakers__container img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .baker:last-child {
        margin-bottom: 7rem;
    }


}
