
/* -------------FONTS-------------- */

@font-face {
    font-family: vibrations;
    src: url(../fonts/goodvibrationspro.otf) format("opentype");
}

/*----------------- VARIABLES----------------- */
:root {
    --main-font: 'Source Sans Pro', sans-serif;
    --secondary-font: 'Poiret One', cursive;
    --body-font: 'Cabin', sans-serif;
    --headings-font: 'vibrations', sans-serif;
    --main-font-color-dark: #252525;
    --secondary-font-color: #e1b164;
    --body-font-color: #515151;
    --white-color: #fff;
    --gray-color: #EBE9EB;
    --celestial-color: #8FDEE1;
    --dark-bg: #121212;
    --box-shadow: 9px 9px 40px -6px rgba(0, 0, 0, 0.57);
}



/* ------------------GLOBAL----------------------- */


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-family: var(--body-font);
    font-size: 10px;
    color: var(--body-font-color);
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

section {
    padding: 3.9rem 0;
    overflow: hidden;
}

img {
    width: 100%;
    max-width: 100%;
}

p {
    font-size: 1.6rem;
}

.container {
    width: 100%;
    max-width: 122.5rem;
    margin: 0 auto;
    padding: 0 2.4rem;
}


ul,
li {
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


.global-headline .sub-headline {
    letter-spacing: -1px;
    line-height: .42;
}

.asterisk {
    font-size: 1.2rem;
    color: var(--body-font-color);
    margin: 2.4rem 0;
    opacity: 0;
    animation-name: spin;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-delay: .7s;
}

.headline {
    font-family: var(--main-font);
    font-size: 3.5rem;
    font-weight: 900;
    text-shadow: 0 4px 4px rgb(0 0 0 / 75%);
    color: var(--white-color);
    text-transform: uppercase;
    letter-spacing: .5rem;
    margin-right: -.5rem;
    opacity: 0;
    animation-name: scaleBigger;
    animation-duration: .5s;
    animation-fill-mode: both;
}

h1.headline {
    font-family: var(--secondary-font);
    margin-bottom: 4rem;
    font-weight: 700;
    font-size: 5.5rem;
    opacity: 0;
    animation-name: scaleBigger;
    animation-duration: .5s;
    animation-fill-mode: both;
}

.headline-dark {
    color: var(--main-font-color-dark);
    letter-spacing: .7rem;
    margin-right: -.7rem;
}

.sub-headline {
    font-size: 8.5rem;
    font-family: var(--headings-font);
    color: var(--celestial-color);
    font-weight: 100;
    line-height: .4;
    letter-spacing: 2px;
    opacity: 0;
    animation-name: fadeUp;
    animation-duration: .5s;
    animation-fill-mode: both;
    animation-delay: .5s;
}

.sub-headline::first-letter {
    text-transform: uppercase;
    font-size: 10.3rem;
}

.global-headline {
    margin-top: 3.9rem;
    text-align: center;
}

.our-story .global-headline {
    margin-top: 6.9rem;
}

.row {
    text-align: center;
}



/*----------------- MEDIA QUERIES----------------- */

@media screen and (min-width: 900px) {
    section {
        padding: 7.9rem;
    }

    .padding-right {
        padding-right: 7rem;
    }

    .sub-headline {
        font-size: 10rem;
    }

    .headline {
        font-size: 4.7rem;
    }
    
    .row {
        display: flex;
        align-items: center;
    }
    .row > div {
        flex: 1;
    }
}

/*------------ ANIMATIONS--------------- */

@keyframes fadeUp {
    0% {
        transform: translateY(4rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes scaleBigger {
    0% {
        transform: scale(2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }

    100% {
        opacity: 1;
        transform: scale(-360deg);
    }
}

@keyframes showsUp {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(-1rem);
    }
}