<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nosotros</title>

    <!-- SRIPTS -->
    <script src="../js/app.js" defer></script>
    <script src="https://unpkg.com/scrollreveal"></script>

    <!-- FONTS -->
    <link
        href="https://fonts.googleapis.com/css2?family=Cabin&family=Herr+Von+Muellerhoff&family=Poiret+One&family=Source+Sans+Pro:wght@700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
   
    <!-- STYLES -->
    <link rel="stylesheet" href="../static/css/normalize.css">

    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/about.css">

    <link rel="shortcut icon" href="../static/img/logo-marip.png">

</head>


<body>

      <!-- HEADER -->
      <header id="header">
        <div class="container">
            <nav class="navbar">
                <div class="menu-toggle">
                    <i class="fas fa-bars"></i>
                    <i class="fas fa-times"></i>
                </div>
                <a href="index.html" class="logo">Helvecia</a>
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="index.html" class="nav-link active">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a href="about.html" class="nav-link">Sobre nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a href="catalog.html" class="nav-link">Catálogo</a>
                    </li>
                    <li class="nav-item">
                        <a href="contact.html" class="nav-link">Contacto</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>


    <!-- ABOUT SECTION -->
    <section class="about">
        <div class="container">
            <div class="row">
                <div class="description padding-right animate-left">
                    <div class="global-headline">
                        <h2 class="sub-headline">
                            Nuestra
                        </h2>
                        <h3 class="headline headline-dark">Historia</h3>
                        <div class="asterisk"><i class="fas fa-asterisk"></i></div>
                    </div>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis harum, deserunt repellendus culpa
                        animi minus similique
                        blanditiis repudiandae nisi, explicabo</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic veritatis perferendis molestias
                        eius velit repellendus</p>
                </div>
                <div class="image animate-right">
                    <img class="animate-top" src="../static/img/chef.jpg" alt="bread">
                </div>
            </div>
        </div>
    </section>

    <!-- ABOUT SECTION -->
    <section class="about">
        <div class="container">
            <div class="row">
                <div class="image padding-right margin-bottom animate-left">
                    <img src="../static/img/torta-frambuesa.jpg" alt="bread">
                </div>
                <div class="description animate-right">
                    <div class="global-headline">
                        <h2 class="sub-headline">
                            Hecho
                        </h2>
                        <h3 class="headline headline-dark">con amor</h3>
                        <div class="asterisk"><i class="fas fa-asterisk"></i></div>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci voluptatum dolor earum
                        accusamus suscipit. Officia atque vitae excepturi deserunt nihil?</p>
                </div>
            </div>
        </div>
    </section>


    <!-- BAKERS -->
    <section class="bakers">
        <div class="container">
            <div class="global-headline animate-left">
                <h2 class="sub-headline">
                    Nuestros
                </h2>
                <h3 class="headline headline-dark">Pasteleros</h3>
                <div class="asterisk"><i class="fas fa-asterisk"></i></div>
            </div>
            <div class="bakers__container animate-right">
                <div class="baker">
                    <img src="../static/img/baker-1.jpg" alt="baker">
                    <h5>John Doe</h5>
                    <ul class="social-icons">
                        <li>
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="baker">
                    <img src="../static/img/baker-2.jpg" alt="baker">
                    <h5>Smith Doe</h5>
                    <ul class="social-icons">
                        <li>
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="baker">
                    <img src="../static/img/baker-3.jpg" alt="baker">
                    <h5>Jane Doe</h5>
                    <ul class="social-icons">
                        <li>
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="baker">
                    <img src="../static/img/baker-4.jpg" alt="baker">
                    <h5>Chris Doe</h5>
                    <ul class="social-icons">
                        <li>
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>




      <!-- FOOTER -->
    <footer>
        <div class="container">
            <div class="back-to-top">
                <a href="#header"><i class="fas fa-chevron-up"></i></a>
            </div>
            <div class="footer__content">
                <div class="footer__content-about animate-top">
                    <h4>Acerca de Helvecia</h4>
                    <div class="asterisk"><i class="fas fa-asterisk"></i></div>
                    <ul class="contact-icons">
                        <li class="icons-detail"><i class="fas fa-search-location"></i> Rivadavia, San Juan</li>
                        <li class="icons-detail"><i class="fas fa-phone"></i> 2645-845666</li>
                        <li class="icons-detail"><i class="fas fa-mail-bulk"></i> helvecia@gmail.com</li>
                    </ul>
                </div>
                <div class="footer__content-divider animate-bottom">
                    <div class="social-media">
                        <h4>Redes sociales</h4>
                        <ul class="social-icons">
                            <li>
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="whatsapp-container">
                        <h4>Contactar</h4>
                        <div class="social-icons">
                            <a href="#">
                                <i class="fab fa-whatsapp"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>