<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Helvecia</title>

    <!-- SCRIPTS -->
    <script src="../js/app.js" defer></script>
    <script src="https://unpkg.com/scrollreveal"></script>

    <!-- FONTS -->
    <link
        href="https://fonts.googleapis.com/css2?family=Cabin&family=Herr+Von+Muellerhoff&family=Poiret+One&family=Source+Sans+Pro:wght@700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    
    <!-- STYLES -->
    <link rel="stylesheet" href="../static/css/normalize.css">
    
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/index.css">
    

    <link rel="shortcut icon" href="../static/img/logo-marip.png">

</head>

<body>

    <!-- HEADER -->
    <header id="header">
        <div class="container">
            <nav class="navbar">
                <div class="menu-toggle">
                    <i class="fas fa-bars"></i>
                    <i class="fas fa-times"></i>
                </div>
                <a href="index.html" class="logo">Helvecia</a>
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="index.html" class="nav-link">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a href="about.html" class="nav-link">Sobre nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a href="catalog.html" class="nav-link">Catálogo</a>
                    </li>
                    <li class="nav-item">
                        <a href="contact.html" class="nav-link">Contacto</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- HERO SECTION -->

    <section class="hero" id="hero">
        <div class="container">
            <h1 class="headline">Pastelería</h1>
            <a href="index.html" class="btn btn-primary">Hacer pedido</a>
        </div>
    </section>

    <!-- STORY SECTION -->

    <section class="our-story">
        <div class="container">
            <div class="row">
                <div class="description padding-right animate-left">
                    <div class="global-headline">
                        <h2 class="sub-headline">
                            Descubre
                        </h2>
                        <h3 class="headline headline-dark">nuestra historia</h3>
                        <div class="asterisk"><i class="fas fa-asterisk"></i></div>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci voluptatum dolor earum
                        accusamus suscipit. Officia atque vitae excepturi deserunt nihil?</p>
                    <a href="about.html" class="btn btn-secondary">ver más</a>
                </div>
                <div class="image animate-right">
                    <img class="story-img" src="../static/img/story.jpg" alt="bread">
                </div>
            </div>
        </div>
    </section>

    <!-- GLUTEN FREE -->
    <section class="gluten-free shared">
        <div class="container">
            <div class="global-headline">
                <div class="animate-top">
                    <h2 class="sub-headline">
                        Libre de 
                    </h2>
                </div>
                <div class="animate-bottom">
                    <h3 class="headline headline-white">Gluten y lácteos</h3>
                </div>
            </div>
        </div>
    </section>

    <!-- MENU SECTION -->
    <section class="menu">
        <div class="container">
            <div class="row">
                <div class="image-group padding-right animate-left">
                    <img src="../static/img/producto1.jpg" alt="image">
                    <img src="../static/img/producto2.jpg" alt="image">
                    <img src="../static/img/producto3.jpg" alt="image">
                    <img src="../static/img/producto4.jpg" alt="image">
                </div>
                <div class="description animate-right">
                    <div class="global-headline">
                        <h2 class="sub-headline">
                            Vea nuestro 
                        </h2>
                        <h3 class="headline headline-dark">catálogo</h3>
                        <div class="asterisk"><i class="fas fa-asterisk"></i></div>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci voluptatum dolor earum
                        accusamus suscipit. Officia atque vitae excepturi deserunt nihil?</p>
                    <a href="catalog.html" class="btn btn-secondary">Ver más</a>
                </div>
            </div> 
        </div>
    </section>

    <!--QUALITY SECTION -->
    <section class="quality shared">
        <div class="container">
            <div class="global-headline">
                <div class="animate-top">
                    <h2 class="sub-headline">
                        Calidad
                    </h2>
                </div>
                <div class="animate-bottom">
                    <h3 class="headline headline-white">premium</h3>
                </div>
            </div>
        </div>
    </section>

    <!-- FOOTER -->
    <footer>
        <div class="container">
            <div class="back-to-top">
                <a href="#header"><i class="fas fa-chevron-up"></i></a>
            </div>
            <div class="footer__content">
                <div class="footer__content-about animate-top">
                    <h4>Acerca de Helvecia</h4>
                    <div class="asterisk"><i class="fas fa-asterisk"></i></div>
                    <ul class="contact-icons">
                        <li class="icons-detail"><i class="fas fa-search-location"></i> Rivadavia, San Juan</li>
                        <li class="icons-detail"><i class="fas fa-phone"></i> 2645-845666</li>
                        <li class="icons-detail"><i class="fas fa-mail-bulk"></i> helvecia@gmail.com</li>
                    </ul>
                </div>
                <div class="footer__content-divider animate-bottom">
                    <div class="social-media">
                        <h4>Redes sociales</h4>
                        <ul class="social-icons">
                            <li>
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="whatsapp-container">
                        <h4>Contactar</h4>
                        <div class="social-icons">
                            <a href="#">
                                <i class="fab fa-whatsapp"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
