<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>

    <!-- FONTS -->
    <link
        href="https://fonts.googleapis.com/css2?family=Cabin&family=Herr+Von+Muellerhoff&family=Poiret+One&family=Source+Sans+Pro:wght@700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">

    <!-- STYLES -->
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/css/register.css">


    <link rel="shortcut icon" href="../static/img/logo-marip.png">


</head>

<body class="register-body">

    <div class="register-container">
        <h2 class="register-title">Registrarse</h2>
        <form class="register-form" enctype="multipart/form-data">
            <div>

                <input class="register-input" type="text" id="name" name="name" placeholder="Nombre" required>
                
                <input class="register-input" type="text" id="username" name="username" placeholder="Nombre de usuario" required>

                <input class="register-input" type="email" id="email" name="email" placeholder="E-mail" required>
                
                <input class="register-input" type="password" id="password" name="password" placeholder="Contraseña" required>

                <input class="register-input" type="password" id="password2" name="password2" placeholder="Repetir contraseña" required>

                <label for="imagen" class="input-imagen" >
                    <i class="fas fa-cloud-upload-alt"></i> Subir imagen de perfil  
                </label>
                <input class="register-input-file" type="file" id="imagen" name="imagen" accept="image/png, image/jpg, image/gif, image/jpeg">

            </div>

            <input class="register-submit" type="submit" id="register" value="Enviar">
        </form>
    </div>

</body>

</html>